################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToDoAPI/.vs/ToDoAPI
/ToDoAPI/ToDoAPI/bin/Debug/net6.0
/ToDoAPI/ToDoAPI/obj
