.flex-container {
    display: flex;
}

.flex-container:last-child {
    border-bottom: 2px solid grey;
}

.flex-container > * {
    border-top: 2px solid grey;
    display:flex;
    align-items: center;
    height: 50px;
    background-color: #D3CDD7;
}

.todo-check{
    flex:0.1;
    border-left: 2px solid grey;
}

.flex-container:first-child > input {
    margin-left: 5px;
}

.todo-description {
    display: flex;
    flex: 2;
    align-items: center;
}

.todo-description > span{
    padding-top: 5px;
    margin-left: 10px;
}

.todo-dueDate {
    flex: 1;
}  
.todo-delete {
    flex: 0.1;
    border-right: 2px solid grey;
}

.todo-delete > button{
    margin-right: 5px;
    border: 0;
    padding: 1rem;
    font-size: 1.8rem;
    border: 0.2rem;
    background: none;
    color: var(--main-text-color);
    transition: backround-color 0.2s linear;
}
.todo-delete > button:hover {
    background: var(--main-hover-background);
    color:var(--error-color)
 }

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position : absolute;
  left     : -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position     : relative;
  padding-left : 30px;
  cursor       : pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content    : '';
  position   : absolute;
  left       : 5px;
  top        : -10px;
  width      : 20px;
  height     : 20px;
  border     : 1px solid #aaa;
  background : #f8f8f8;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  font-family             : 'Material Icons';
  content                 : 'check';
  text-rendering          : optimizeLegibility;
  font-feature-settings   : "liga" 1;
  font-style              : normal;
  text-transform          : none;
  line-height             : 22px;
  font-size               : 21px;
  width                   : 22px;
  height                  : 22px;
  text-align              : center;
  position                : absolute;
  top                     : -10px;
  left                    : 5px;
  display                 : inline-block;
  overflow                : hidden;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  color                   : #09ad7e;
  transition              : all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity   : 0;
    transform : scale(0);
}
  
[type="checkbox"]:checked + label:after {
    opacity   : 1;
    transform : scale(1);
}