<h1>Pending Tasks</h1>
<div>
    <form>
        <ul>
            <li> Mensajes de error</li>
        </ul>
        <div>
            <label for="txtDescription">Descripción</label>
            <input type="text" id="txtDescription" name="description" placeholder="E.g.: Cortar el zacate">
        </div>
        <div>
            <label for="dtpDueDate">Fecha</label>
            <input type="datetime" id="dtpDueDate" name="dueDate">
        </div>

        <div>
            <button></button>
        </div>
    </form>
</div>
<div>
    <ul>
        <li *ngFor="let todo of todos ; let _index = index" class="flex-container"  [ngClass]=" isPastDue(todo.dueDate) ? 'past-due-task': 'pending-task'" >
            <div class="todo-check">
                <input type="checkbox" id="chk_{{_index}}" [checked]="todo.done" (click)="completeTodo(_index,todo)"/>
                <label for="chk_{{_index}}"></label>
            </div>
            <div class="todo-description">
                <span>{{todo.description}}</span>
            </div>
            <div class="todo-dueDate">
                <span>{{todo.dueDate | date: 'medium':'UTC'}} </span>
            </div>
            <div class="todo-delete">
                <button (click)="deleteTodo(_index,todo.id)">
                    <i class="material-icons-sharp">delete</i>
                </button>
            </div>
        </li>
    </ul>
</div>