<h1>Pending Tasks</h1>
<div>
    <form>
        <ul>
            <li> Mensajes de error</li>
        </ul>
        <div>
            <label for="txtDescription">Descripción</label>
            <input type="text" id="txtDescription" name="description" placeholder="E.g.: Cortar el zacate">
        </div>
        <div>
            <label for="dtpDueDate">Fecha</label>
            <input type="datetime" id="dtpDueDate" name="dueDate">
        </div>
    </form>
</div>
<div>
    <ul>
        <li>
            <input type="checkbox">
            <span>Task 1</span>
            <button> Remove</button>
        </li>
    </ul>
</div>