.default {
   --top-bar-background: #3891a6ff;
   --body-background: #ffffff;
   --main-text-color: #223330;
   --main-hover-background: rgba(255, 255, 255, 0.1);
   --color-scrollbar-light: rgba(255, 255, 255, 0.1);
   --error-color: #F44E3F
}

